h1 {
    text-align: center;
}

#background {
    justify-content: space-evenly;
    border: solid;
    align-content: center;
}

#settings {
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-around;
}

button {
    width: 30%;
}

#popup {
    margin-left: 30px;
}

#Add\ Task\ Button {
    align-content: center;
}