#errorPopUpBackground {
    background-color: rgba(211, 211, 211, .9);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: fixed;
    display: flex;
    align-items: center;
}

#errorPopUp {
    margin: auto;
    background: white;
    opacity: 1;
    border: solid thin black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#errorHeader {
    display: flex;
    width: 100%;
    border-bottom: thin solid black;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#errorHeader > h2 {
    margin: 0 auto;
    color: red;
}

#errorHeader > button {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    background: black;
    color: white;
    margin: 5px;
    visibility: hidden;
    pointer-events: none;
}

#closeError {
    visibility: visible !important;
    pointer-events: auto !important;
    font-size: 20px;
}

#errorMessage {
    margin: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}