#createPopupBackground {
    background-color: rgba(211,211,211,.9);
    height: 640px;
    width: 360px;
    zIndex: 9;
    position: fixed;
    top: 6px;
    left: 6px;
    display: flex;
    align-items: center;
}

#createPopupBackground.hidden {
    display: none;
}

#createPopup {
    margin: auto;
    width: 75%;
    height: 25%;
    background: white;
    opacity: 100%;
    border: solid thin black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
#createHeader {
    display: flex;
    width: 100%;
    border-bottom: thin solid black;
    align-items: center;
    justify-content: space-between;
}

#createHeader > h2 {
    margin: 0 auto;
}

/* Set visibility of all buttons in createHeader to hidden, then override in the closeCreate button.
This is because we created a dummy button that is the same size as the close button in order to allow us
to center the title and put the close button on the left */

#createHeader > button {
    border-radius: 50px;
    height:40px;
    width: 40px;
    background: black;
    color: white;
    margin: 5px;
    visibility: hidden;
    pointer-events: none;
}

#closeCreate {
    visibility: visible !important;
    pointer-events: auto !important;
    font-size: 20px;
}

#createForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#taskName {
    width: 90%;
    height: 30%;
    font-size: 18px;
}
#addTask {
    width:60%;
    height:30%;
    font-size: 20px;
    background: #aaf683;
}