#itemList {
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    box-sizing: border-box;
}

#noItems {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
}

#noItems > h3 {
    width: 60%;
    margin: auto;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid cornflowerblue; /* Blue */
    border-radius: 50%;
    margin: 140px auto;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}