#topTab {
    display: flex;
    align-items: center;
    border-bottom: solid thin black;
}

#topTab > h1 {
    font-size: 50px;
}

#topTabThird > button {
    height: 40px;
    width: 50px;
    font-size: 25px;
    text-align: center;
}

#topTabThird {
    display: flex;
    width: 120px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

#sortParameterSelector {
    height: 30px;
    font-size: 15px;
}

#saveEdits {
    background: #aaf683;
}

#addItem {
    background: #aaf683;
}

#addItem:disabled {
    background: lightgray !important;
}
