#topTab {
    display: flex;
    align-items: center;
    border-bottom: solid thin black;
    height: 12.5%;
    width: 100%;
    box-sizing: border-box;
}

#topTabThird > h1 {
    font-size: 6vh;
}

#topTabThird {
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

#topTabThird > button {
    height: 50%;
    width: 40%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortParameterSelector {
    height: 40%;
    width: 70%;
    font-size: calc(12px + .5vw + 1vh);
}

#saveEdits {
    background: #aaf683;
}

#addItem {
    background: #aaf683;
}

#addItem:disabled {
    background: lightgray !important;
}
